#portfolio {
    background: var(--light-primary-color-10, #F3F2F1);
}

#portfolio .wrapper {
    width: 1440px;
    display: flex;
    justify-content: center;
}

#portfolio .wrapper2 {
    margin: 30px 30px 30px 30px;
    width: 100%;
}

#portfolio .wrapper2 .header_section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 25px;
}

.svgcomp {
    position: relative;
    left: -40px;
}

#portfolio .vector {
    position: absolute;
    top: -20px;
    left: 0px;
    margin: 0;
    transform: rotate(8.108deg);
    flex-shrink: 0;
    overflow: visible;
}

#portfolio .group19 {
    position: absolute;
    top: -4px;
    left: 5.82px;
    overflow: visible;
    transform: rotate(8.108deg);
    flex-shrink: 0;

}

#portfolio .my_header {
    position: relative;
    /* left: 39px; */
}


#portfolio .photos_menu {

    color: var(--light-primary-color-85, #5D4F42);
    /* Headlines/Headline Regular UPPERCASE */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    letter-spacing: 0.8px;
    text-transform: uppercase;


    display: flex;
    white-space: nowrap;
    position: relative;
    justify-content: center;
}

#portfolio .middle_section {
    display: inline;
    position: relative;


    padding: 13.62px 13.62px 13.62px;
    border-left: 0.5px solid #f3692e;
    border-right: 0.5px solid #f3692e;
    border-top: 0.5px solid #f3692e;
    border-radius: 6px 6px 0px 0px;
}

#portfolio .left_section {
    display: inline;
    position: relative;
    border-bottom: 0.5px solid #f3692e;
    padding-bottom: 13.62px;
    padding-right: 13.62px;
    padding-top: 13.62px;
    padding-left: 23%;
}

#portfolio .right_section {
    display: inline;
    position: relative;
    border-bottom: 0.5px solid #f3692e;
    padding-bottom: 13.62px;
    padding-left: 13.62px;
    padding-top: 13.62px;
    padding-right: 23%;
}

#portfolio .photosAlwaysHaveTheirVoiceLove {
    color: #5d4f42;
    font-size: 24px;
    line-height: 120%;
    font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    letter-spacing: 0.005em;
    position: relative;
    justify-content: center;
    height: 38.0078px;
    text-align: center;
    align-items: center;
    margin: 20px 0;
}



#portfolio #first {
    max-height: 100%;
    max-width: 100%;
    margin-top: 150px;
}


#portfolio #last {
    margin-bottom: 20px;
}

.gallery {
    position: relative;

}

.pics_line {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
    height: 75vh;
    max-height: 75vh;
    gap: 50px;
    margin-bottom: 50px;
}

.mobile_gallery {
    display: none;
}

img {
    object-fit: contain;
}

.active {
    color: var(--light-secondary-color-30, #FF8F5B);
    font-weight: 700;
    letter-spacing: 0.8px;
}

.pics_line img {
    transition: opacity 0.5s ease-in-out;
}

@media (max-width: 1140px) {
    .pics_line {
        display: inline-flex;
        justify-content: space-evenly;
        width: 100%;
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease;
        cursor: pointer;
        margin-bottom: 12px;
        height: 50vh;
        max-height: 75vh;
        gap: 30px;
        margin-bottom: 30px;
    }
}



@media (max-width: 720px) {
    #portfolio .wrapper {
        display: flex;
        justify-content: center;
    }

    #portfolio .wrapper2 {
        margin: 15px 15px 15px 15px;
        width: 100%;
    }

    #portfolio .photosAlwaysHaveTheirVoiceLove {
        display: flex;
        color: #5d4f42;
        font-size: 12px;
        font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
            'Liberation Sans', sans-serif;
        letter-spacing: 0.005em;
        position: relative;
        height: 38.0078px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 20px 0;

    }

    .gallery {
        display: none;
    }

    #portfolio .photos_menu {

        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        white-space: nowrap;
        position: relative;
        justify-content: center;
    }

    #portfolio .middle_section {
        display: inline;
        position: relative;

        text-transform: uppercase;
        padding: 13.62px 13.62px 13.62px;
        border-left: 0.5px solid #f3692e;
        border-right: 0.5px solid #f3692e;
        border-top: 0.5px solid #f3692e;
        border-radius: 6px 6px 0px 0px;
    }

    #portfolio .left_section {
        display: inline;
        position: relative;
        border-bottom: 0.5px solid #f3692e;
        padding-bottom: 13.62px;
        padding-right: 13.62px;
        padding-top: 13.62px;
        padding-left: 5px;
    }

    #portfolio .right_section {
        display: inline;
        position: relative;
        border-bottom: 0.5px solid #f3692e;
        padding-bottom: 13.62px;
        padding-left: 13.62px;
        padding-top: 13.62px;
        padding-right: 5px;
    }

    .mobile_gallery {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile_gallery img {
        width: 90%;
        height: auto;
        object-fit: contain;
        margin: 20px 10px 20px 10px;
        cursor: pointer;
    }

}