.preloader {
    height: 100vh;
    width: 100%;
    background: var(--light-primary-color-10, #0D0D0D);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    overflow: hidden !important;

}

.preloader .texts-container {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 70px;
    flex-wrap: wrap;
    width: 220px;
    font-size: 20px;
    overflow: hidden;
    font-weight: 800;
    opacity: 0;
    color: #F2EDE6;
    font-family: 'Poppins', Helvetica, sans-serif;
}


.preloader .texts-container .break {
    flex-basis: 100%;
    height: 0;
}

.preloader .texts-container .name-group {
    display: inline-flex;
}

.preloader .texts-container .name {
    color: #FFFFFF;
    font-family: 'Alex Brush', cursive;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 46px;
}

.preloader .texts-container .photog {
    color: #FFFFFF;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: 1.5px;
    line-height: 16.8px;
}