#about {

    background: var(--light-primary-color-10, #F3F2F1);
}

#about .wrapper2 {
    background: var(--light-primary-color-10, #F3F2F1);
    width: 1440px;
    display: flex;
    justify-content: center;
}

#about .wrapper {
    margin: 30px 30px 108px 30px;
    width: 1232px;
    height: 1100.635px;
    background: var(--light-system-background-primary, #FFF);
}

#about .wrapper .work-btn {
    background-color: var(--lightprimary-color50);
    border-radius: 10px;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    width: 158px;
    height: 56px;
    padding: 18px 24px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
}

#about .wrapper .photos_line {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 11px;
}


#about .wrapper .photos_line img {
    width: 300px;
    height: 448px;
}

#about .wrapper .first_block {
    margin: 56px 106px 56.63px 63px;
    display: inline-flex;
    gap: 79px;

}

#about .wrapper .first_block img {
    width: 361px;
    height: 540px;
}

#about .wrapper .first_block .header_section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 32px;
}

#about .wrapper .first_block .simple_container {
    width: 605.214px;
    height: 252px;
}

#about .wrapper .first_block p {
    color: var(--light-primary-color-70, #997D64);

    /* Body/Body 1 Regular */
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 27.5px */
    letter-spacing: 0.11px;
}

#about .wrapper .first_block .sign {
    color: var(--light-text-color-title, #11142D);
    font-family: Oooh Baby;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 48px */
    letter-spacing: 0.2px;
}

#about .wrapper .first_block .last_line {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}